/cef_user_data
/Code
/dconf
/go
/google-chrome
/pulse
/session
/systemd
/TabNine
/Thunar
/xfce4
/yay
/baloofileinformationrc
/dolphinrc
/mimeapps.list
/user-dirs.dirs
/user-dirs.locale
/kde.org
/htop
/QtProject.conf
/kiorc
/trashrc
/gtk-4.0
/nwg-lock
/nemo
/mpv
/menus
/nwg-drawer
/nwg-look
/spotify
/pavucontrol.ini
/discord
/vlc
/Mumble