/systemd
/go
/Code
/google-chrome
/*.log
/mimeapps.*
/nohup.out
/spicetify
/spotify
/vlc
/pavucontrol.ini
/QtProject.conf
/kdeconnect
/abiword
/audacity
/discord
/arduino-ide
/assets
/copyq
/dconf
/filezilla
/Google
/gthumb
/htop
/jgit
/Ultralytics
/wireshark
/qView
/NCALayer
/libreoffice
/obs-studio
/autostart
/user-dirs.dirs
/user-dirs.locale
/libinput-gestures.conf
/dragonplayerrc